<!-- hw/templates/hw/about.html -->
{% extends 'hw/base.html' %}

{% block content %}
    <h1>About this page</h1>
    <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. A placeat aliquam, corrupti ducimus ullam rem quis architecto nobis non commodi nihil repellat sequi tempore magnam consequuntur consectetur optio maiores pariatur.
    </p>
      <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. A placeat aliquam, corrupti ducimus ullam rem quis architecto nobis non commodi nihil repellat sequi tempore magnam consequuntur consectetur optio maiores pariatur.
    </p>
    {% endblock %}
