<!-- quotes/templates/quotes/about.html -->
{% extends 'quotes/base.html' %}
{% block content %}
<!--taking info from base html -->
<h1>These are all my quotes from Karl Marx</h1>
<p>Karl Marx was a cool dude.He was an amazing Geran Philosoher whose main service to humanity was the comunist manifesto</p>
<p> His name is Karl Heinrich Marx he was chill dude. I chose him by looking up someone random. I think he was a very fat guy. I think he likes water and bread. He was like a older version of bernie sanders. He is a chill dude but i like the hair he has.Its very old and grayish its the bomb.com</p>
<p> kwabena is pretty cool too. He is a senior and he likes to code. he is a really nice guy . he coded this and he likes to lift weights</p>
{% endblock %}